html, body {
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: center;
  color: #eee;
  background-color: #24c8dd;
}

canvas {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
